@font-face {
    font-family: Bungee ;
    src: url(../font/Bungee/Bungee-Regular.ttf);
}
@font-face {
    font-family: Bungee-Shader;
    src: url(../font/Bungee/Bungee_Shade/BungeeShade-Regular.ttf);
}
body{     background-color: #2F3C48;
}
#title{
    text-align: center;
 font-family: Bungee-Shader;
 color:white;
}
#header{
    padding-top:3%;
    padding-bottom:3%;
    border-radius: 2px;
}
#content{
    margin-left: 2%;
    margin-right:2%;
    color:white;
    font-family:Bungee;
  
}
#player{
    width:100%;
    height:100%;
    border-radius: 2px;
}